set 만들기

set은 수학의 집합과 비슷한 형태로 중복되는 데이터의 입력을 허용하지 않고, 입력하는 데이터의 순서와 실제로 저장되는 데이터의 순서가 달라서
인덱싱과 슬라이싱을 사용할 수 없다.

딕셔너리처럼 {}를 사용해서 데이터를 감싸주지만 key가 존재하지 않고 value만 존재한다.

In [2]:
# 빈 set 만들기
a = {} # 빈 set은 {}를 사용해서 만들 수 없다. -> 딕셔너리로 인식한다.
print(type(a))

# 빈 set을 만들 때 {}만 사용하면 딕셔너리가 생성되기때문에 반드시 생성자 함수를 사용해서 만들어 사용한다.
b = set();
print(type(b))
print(b)

<class 'dict'>
<class 'set'>
set()

In [4]:
# 초기치를 가지는 set
a = {1, 2, 3, 4}
print(type(a))
print(a)

<class 'set'>
{1, 2, 3, 4}

In [8]:
# 생성자 함수의 인수로 리스트나 튜플을 넘겨서 set을 만들수 있다.
a = set([1, 2, 3, 4])
print(type(a))
print(a)
print('-' * 20)

b = set((1, 2, 3, 4))
print(type(b))
print(b)

c = set(1, 2, 3, 4) # 에러, set의 생성자 함수로 튜플을 넘길때 반드시 ()를 사용해야 한다.

<class 'set'>
{1, 2, 3, 4}
--------------------
<class 'set'>
{1, 2, 3, 4}

TypeError: set expected at most 1 arguments, got 4

In [9]:
# set은 중복되는 데이터의 입력을 허용하지 않는다.
a = {1, 5, 1, 2, 1, 1, 5, 2, 3}
print(type(a))
print(a)

<class 'set'>
{1, 2, 3, 5}

In [16]:
# add() 메소드로 데이터를 1개씩 추가할 수 있다.
a = set()
print(a)
a.add('뽀로로')
print(a)
a.add('루피')
print(a)
a.add('골드런')
print(a)
a.add('마젤란')
print(a)

set()
{'뽀로로'}
{'뽀로로', '루피'}
{'뽀로로', '골드런', '루피'}
{'뽀로로', '마젤란', '골드런', '루피'}

In [24]:
# update() 메소드로 리스트나 튜플에 저장된 데이터를 set에 일괄적으로 추가할 수 있다.
a = {'뽀로로', '홍길동', '마젤란', '로우'}
print(a)
print('-' * 80)

b = ['손오공', '저팔계', '사오정', '삼장법사']
print(b)
a.update(b)
print(a)
print('-' * 80)

c = ('괴물', '기생충', '설국열차', '헝거게임')
print(c)
a.update(c)
print(a)

{'홍길동', '로우', '뽀로로', '마젤란'}
--------------------------------------------------------------------------------
['손오공', '저팔계', '사오정', '삼장법사']
{'저팔계', '손오공', '로우', '마젤란', '삼장법사', '뽀로로', '사오정', '홍길동'}
--------------------------------------------------------------------------------
('괴물', '기생충', '설국열차', '헝거게임')
{'저팔계', '손오공', '설국열차', '로우', '괴물', '마젤란', '삼장법사', '뽀로로', '사오정', '기생충', '홍길동', '헝거게임'}

In [27]:
# remove() 메소드로 인수로 지정한 데이터를 set에서 제거할 수 있다.
a = {'뽀로로', '홍길동', '마젤란', '로우'}
print(a)

a.remove('로우')
print(a)
a.remove('로우') # set에 존재하지 않는 데이터를 삭제하려했으므로 에로가 발생된다.
print(a)

{'홍길동', '로우', '뽀로로', '마젤란'}
{'홍길동', '뽀로로', '마젤란'}

KeyError: '로우'

In [28]:
# discard() 메소드로 인수로 지정한 데이터를 set에서 제거할 수 있다.
a = {'뽀로로', '홍길동', '마젤란', '로우'}
print(a)

a.discard('로우')
print(a)
a.discard('로우') # set에 존재하지 않는 데이터를 삭제하려하면 메소드가 무시된다.
print(a)

{'홍길동', '로우', '뽀로로', '마젤란'}
{'홍길동', '뽀로로', '마젤란'}
{'홍길동', '뽀로로', '마젤란'}

In [30]:
# clear() 메소드로 set에 저장된 모든 데이터를 제거할 수 있다.
a = {'뽀로로', '홍길동', '마젤란', '로우'}
print(a)

a.clear()
print(a)

# del 명령을 사용해서 set 자체를 메모리에서 제거할 수 있다.
del a
print(a)

{'홍길동', '로우', '뽀로로', '마젤란'}
set()

NameError: name 'a' is not defined

집합 연산

In [38]:
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}

# 합집합 -> union(), | 
print(a.union(b))
print(a | b)

# 교집합 -> intersection(), &
print(a.intersection(b))
print(a & b)

# 차집합 -> difference(), -
print(a.difference(b))
print(a - b)
print(b.difference(a))
print(b - a)

# 대칭 차집합 -> 합집합 - 교집합 -> symmetric_difference(), ^
print(a.symmetric_difference(b))
print(a ^ b)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{4, 5}
{1, 2, 3}
{1, 2, 3}
{8, 6, 7}
{8, 6, 7}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}