리스트와 함께 사용하는 for

In [5]:
 a = ['Life', 'is', 'too', 'Good']
print(a)
print('-' * 30)

for i in a : 
    print(i)
print('-' * 30)

for i in range(len(a)) :
    print(a[i])
print('-' * 30)

for i in a[1:3] : 
    print(i)

['Life', 'is', 'too', 'Good']
------------------------------
Life
is
too
Good
------------------------------
Life
is
too
Good
------------------------------
is
too
------------------------------

튜플과 함께 사용하는 for

In [6]:
 a = 'Life', 'is', 'too', 'Good'
print(a)
print('-' * 30)

for i in a : 
    print(i)
print('-' * 30)

for i in range(len(a)) :
    print(a[i])
print('-' * 30)

for i in a[1:3] : 
    print(i)
print('-' * 30)

('Life', 'is', 'too', 'Good')
------------------------------
Life
is
too
Good
------------------------------
Life
is
too
Good
------------------------------
is
too
------------------------------

Set과 함께 사용하는 for

In [10]:
 a = {'Life', 'is', 'too', 'Good'}
print(a)
print('-' * 30)

# set은 입력하는 순서와 실제 저장되는 순서가 다르지만 전체를 대상으로 반복 작업은 가능하다.
for i in a : 
    print(i)
print('-' * 30)

'''
for i in range(len(a)) :
    print(a[i]) # set은 입력되는 순서와 실제 저장되는 순서가 달라서 인덱싱을 사용할 수 없으므로 에러가 발생된다.

for i in a[1:3] : # set은 입력되는 순서와 실제 저장되는 순서가 달라서 슬라이싱을 사용할 수 없으므로 에러가 발생된다.
    print(i)
'''
pass

{'too', 'is', 'Good', 'Life'}
------------------------------
too
is
Good
Life
------------------------------

딕셔너리와 함께 사용하는 for

In [15]:
a = {'apple' : 1000, 'banana' : 3500, 'melon' : 1000, 'mango' : 5000}
print(a)
print(a.keys())
print(a.values())
print(a.items())

{'apple': 1000, 'banana': 3500, 'melon': 1000, 'mango': 5000}
dict_keys(['apple', 'banana', 'melon', 'mango'])
dict_values([1000, 3500, 1000, 5000])
dict_items([('apple', 1000), ('banana', 3500), ('melon', 1000), ('mango', 5000)])

In [18]:
# 딕셔너리의 이름만 쓰면 딕셔너리이름.keys()와 같은 의미로 사용된다.
for key in a :
    print(key)
print('-' * 30)

for key in a.keys() :
    print(key)
print('-' * 30)

for value in a.values() :
    print(value)
print('-' * 30)

for item in a.items() :
    print(item)
print('-' * 30)

apple
banana
melon
mango
------------------------------
apple
banana
melon
mango
------------------------------
1000
3500
1000
5000
------------------------------
('apple', 1000)
('banana', 3500)
('melon', 1000)
('mango', 5000)
------------------------------

In [20]:
# key값을 이용해서 value를 얻어오기
for key in a.keys() :
    print(a[key]) # 딕셔너리이름[key]
print('-' * 30)

for key in a.keys() :
    print(a.get(key)) # 딕셔너리이름.get(key)

1000
3500
1000
5000
------------------------------
1000
3500
1000
5000

In [24]:
# item 값을 이용해서 key, value를 얻어오기
for item in a.items() :
    print(item)
print('-' * 30)

for item in a.items() :
    print('{}는(은) {:,}원 입니다.'.format(item[0], item[1]))
print('-' * 30)

for key, value in a.items() :
    print('{}는(은) {:,}원 입니다.'.format(key, value))

('apple', 1000)
('banana', 3500)
('melon', 1000)
('mango', 5000)
------------------------------
apple는(은) 1,000원 입니다.
banana는(은) 3,500원 입니다.
melon는(은) 1,000원 입니다.
mango는(은) 5,000원 입니다.
------------------------------
apple는(은) 1,000원 입니다.
banana는(은) 3,500원 입니다.
melon는(은) 1,000원 입니다.
mango는(은) 5,000원 입니다.

enumerate() 함수는 인수로 지정된 리스트, 튜플, 딕셔너리, set의 index와 데이터를 쌍으로 묶은 튜플을 리턴한다.

In [27]:
a = ['Life', 'is', 'too', 'Good']
print(enumerate(a))
print(list(enumerate(a)))

for index, data in enumerate(a) : 
    print(index, data)

<enumerate object at 0x000001E4A1DCA3A8>
[(0, 'Life'), (1, 'is'), (2, 'too'), (3, 'Good')]
0 Life
1 is
2 too
3 Good

In [28]:
a = 'Life', 'is', 'too', 'Good'
print(enumerate(a))
print(list(enumerate(a)))

for index, data in enumerate(a) : 
    print(index, data)

<enumerate object at 0x000001E4A1DCA3A8>
[(0, 'Life'), (1, 'is'), (2, 'too'), (3, 'Good')]
0 Life
1 is
2 too
3 Good

In [117]:
a = {'Life', 'is', 'too', 'Good'}
print(enumerate(a))
print(list(enumerate(a)))

for index, data in enumerate(a) : 
    print(index, data)

<enumerate object at 0x000001E4A1E65C18>
[(0, 'too'), (1, 'is'), (2, 'Good'), (3, 'Life')]
0 too
1 is
2 Good
3 Life

In [33]:
a = {'apple' : 1000, 'banana' : 3500, 'melon' : 1000, 'mango' : 5000}
print(enumerate(a))
print(list(enumerate(a)))

for index, data in enumerate(a) : 
    print(index, data)
print('-' * 30)

for index, data in enumerate(a.keys()) : 
    print(index, data)
print('-' * 30)

for index, data in enumerate(a.values()) : 
    print(index, data)
print('-' * 30)

for index, data in enumerate(a.items()) : 
    print(index, data)
print('-' * 30)

<enumerate object at 0x000001E4A1D77480>
[(0, 'apple'), (1, 'banana'), (2, 'melon'), (3, 'mango')]
0 apple
1 banana
2 melon
3 mango
------------------------------
0 apple
1 banana
2 melon
3 mango
------------------------------
0 1000
1 3500
2 1000
3 5000
------------------------------
0 ('apple', 1000)
1 ('banana', 3500)
2 ('melon', 1000)
3 ('mango', 5000)
------------------------------

zip() 함수는 서로 다른 데이터가 저장된 객체를 반복 가능한 형태로 묶는다.

In [122]:
a = ['java', 'jsp', 'python']
b = [100, 95, 98]
print(zip(a, b))
print(list(zip(a, b)))

for i in zip(a, b) :
    print(i)

<zip object at 0x000001E4A1EB5788>
[('java', 100), ('jsp', 95), ('python', 98)]
('java', 100)
('jsp', 95)
('python', 98)

In [128]:
java = [100, 100, 100]
jsp = [90, 80, 70]
python = [1, 2, 3]

total = []
for i in range(len(java)) :
    total.append(java[i] + jsp[i] + python[i])
print(total)

total = []
for a, b, c in zip(java, jsp, python) :
    total.append(a + b + c)
print(total)

[191, 182, 173]
100 90 1
100 80 2
100 70 3
[191, 182, 173]